#container {
  margin: 40px auto;
  width: 960px;
  border: 1px solid #ccc;
  background: #ececec;
}
#container > header,
#container > footer {
  padding: 80px 80px 80px;
  width: 800px;
  overflow: hidden;
  border: 1px solid #ccc;
  border-width: 1px 0 1px 0;
}
#container > header {
  background-color: magenta;
}
#container > header li,
#container > footer li {
  float: left;
  padding: 0 5px 0 0;
  background: none;
}
#container > section {
  background: #fdfdfd;
  padding: 0 40px 40px 80px;
  float: left;
  width: 493px;
  border-right: 1px solid #ccc;
}
#container > aside {
  padding-top: 20px;
  float: left;
  width: 346px;
}
#container > footer {
  padding: 40px 80px 80px;
  background: #fcfcfc;
}
#container > footer li:after {
  content: " |";
}
#container > footer li:last-child:after {
  content: "";
}
